In [1]:
import pandas as pd

### Задание 1

In [2]:
df_ratings = pd.read_csv('ratings.csv',sep=',')
df_ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
def film_class(row):
    if row.rating >= 4.5:
        return 'высокий рейтинг'
    elif 2 < row.rating < 4.5:
        return 'средний рейтинг'
    elif row.rating <= 2:
        return 'низкий рейтинг'

In [11]:
df_ratings['class'] = df_ratings.apply(film_class, axis=1)
df_ratings.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

### Запдание 2

In [17]:
df_keyword = pd.read_csv('keywords.csv',sep=',')
df_keyword.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [18]:
def geo_class(row):
    if 'москва' in row['keyword'] or 'тула' in row['keyword'] or 'ярославль' in row['keyword']:
        return 'Центр',
    elif 'петербург' in row['keyword'] or 'псков' in row['keyword'] or 'мурманск' in row['keyword']:
        return 'Северо-Запад',
    elif 'владивосток' in row['keyword'] or 'сахалин' in row['keyword'] or 'хабаровск' in row['keyword']:
        return 'Дальний Восток',
    else:
        return 'undefined'

In [19]:
df_keyword['region'] = df_keyword.apply(geo_class, axis=1)
df_keyword.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined